body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../assets/keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

*{
    margin: 0;
    padding: 0;
}

.nav-bar img{
    max-width: 30px;
    max-height: 30px;
}

.logo{
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 10px;
}

.nav-items{
    display: flex;
    gap: 3rem;
    /* justify-content: space-between; */
}

.nav-bar{
    display: flex;
    align-items: center;
    color: white;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(139, 110, 110, 0.9);
    
}

.nav-bar a{
    color: white;
    text-decoration: none;
}

.nav-bar a:hover{
    color: aqua;
}

.book-box{
    /* background-color: rgba(46, 44, 44, 0.788); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.book-form{
    /* background-color: white; */
    background-color: rgba(46, 44, 44, 0.788);
    height: 70%;
    width: 40%;
}